/* Imported Fonts */

/* FORMAT */
* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: orange;
}

/* ID */
#site {
    display: grid;
    grid-template-columns: 1fr;
}
#wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
#map {
    grid-column: 1/2;

    text-align: center;
    height: 1000px;
    background-color: beige;
}
#listing {
    grid-column: 2/3;
    background-color: #01183f;
}

/* CLASS */
.add-btn {
    background-color: #ff4b00;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #01183f;
    z-index: 9;
}
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
}
.form-container .post {
    background-color: #04AA6D;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/* Desktop */
/* @media screen and ( min-width : 800px ) {
    
} */